{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
      <div class="content">
      <img src="{% static 'img/moneysaved3.png' %}" alt="money saved" style="height:150px;">
    </div>
    <div class ="itemtext">
      Money Saved
    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
      <img src="{% static  'img/howtouse2.png' %}" alt="how to use" style="height:150px;">
    </div>
    <div class ="itemtext">
      How To Use
    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
        <img src="{% static  'img/additem2.png' %}" alt="add item" style="height:150px;">
    </div>
    <div class ="itemtext">
      Add Item
    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
      <img src="{% static  'img/myitems3.png' %}" alt="my items" style="height:150px;">
    </div>
    <div class ="itemtext">
      My Items
    </div>
  </div>
</div>


{% endblock %}