{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="row" style="margin-top:250px">
  <div class="col-sm-3">
      <div class="content">
        <a href="/login">
            <img src="{% static 'img/moneysaved3.png' %}" alt="money saved" style="height:150px;">
            <div class ="itemtext">
      Money Saved
    </div>

        </a>

    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
          <a href="/login">
      <img src="{% static  'img/howtouse2.png' %}" alt="how to use" style="height:150px;">
      </a>
      <div class ="itemtext">
      How To Use
    </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
          <a href="/login">
        <img src="{% static  'img/addItem2.png' %}" alt="add item" style="height:150px;">
        </a>
        <div class ="itemtext">
      Add Item
    </div>

    </div>
  </div>
  <div class="col-sm-3">
      <div class="content">
          <a href="/login">
      <img src="{% static  'img/myitems3.png' %}" alt="my items" style="height:150px;">
      </a>
      <div class ="itemtext">
      My Items
    </div>

    </div>
  </div>
</div>


{% endblock %}
