 /* login page */
.myform .form{
  min-height: 400px;
  padding-top: 30px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 2px 6px    rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.myform .form-group{
  padding-left: 25px;
  padding-right: 25px;
}

.myform .wv-heading--title{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 55px;
  color: #666c70;
}

.myform .send-button{
  width: 40%;
  margin: auto;
  font-weight: 600;
  color: #fff;
  box-shadow: none !important;
  border-radius: 40px;
  background:  #313467;
  line-height: 40px;
  margin-bottom: 10px;
}
.myform .my-input{
  height: 50px;
  margin-bottom: 25px;
}
.myform .row p{
  font-size: 14px;
  text-align: center;
  color:#9ba0a3;
}
.myform .row a{
  color: #5e5ca2;
}